@media (max-width: 500px){
	.logo {
		display: none;
		margin-right: 1px;
	}

	.top {
	margin-right: 0px;
}
}

@media (min-width: 501px) {
	.top {
		margin-right: 9em;
	}	
}

@media (max-width: 660px) {
	.top {
	margin-right: 0px;
}

	.logo {
		display: none;
		margin-right: 1px;
	}
}

.zagolovok {
	font-family: 'Arvo', arial;
	color: #fff;
	font-variant: small-caps;
	text-align: center;
	margin-top: 3vh;
	margin-bottom: 3vh;
}

.slogan {
	font-family: 'Arvo', arial;
	color: #ffb11c;
	font-weight: 600;
	text-align: center;
	margin-bottom: 3vh;
	text-shadow: 2px 2px 2px #333;
}

a:visited {
    color: #ad0e1b;
}