@media (max-width: 500px) {
	.card {
		max-width: 300px;
		max-height: 450px;
	}

	.card img {
		max-height: 430px;
	}
}

/* Отношение ширины/высоты картинки должно быть 3/4 */

@media (min-width: 660px) {
	.card {
		max-width: 30vh;
		max-height: 45vh;
	}

	.card img {
		max-height: 40vh;
	}
}

.card img {
	width: 100%;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.card {
	background-color: #e5a746;
	border-radius: 20px;
	margin: 2vh;
}

.card p {
	font-weight: 600;
	text-align: center;
	padding-bottom: 7px;
	font-size: 0.9em;
}

.zagolovok {
	color: #ffb11c;
}

.container {
	-webkit-box-shadow: 0px 0px 15px 15px rgba(186,186,186,1);
	-moz-box-shadow: 0px 0px 15px 15px rgba(186,186,186,1);
	box-shadow: 0px 0px 15px 15px rgba(186,186,186,1);
	-o-box-shadow: 0px 0px 15px 15px rgba(186,186,186,1);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: flex-start;
	margin: auto;
	background-color: #eee;
	padding: 1em;
	margin-bottom: 4vh;
}

a {
	text-decoration: none;
	color: #333;
}

.card:hover {
	transition: 0.5s;
	box-shadow: 0px 0px 20px 10px rgba(50, 50, 50, 0.25);
	transform: scale(1.02);

}